.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("banner.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  margin: 0px;
}
