.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('banner.jpg');
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 30px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
  }
  h4 {
    text-align: center;
    color:white;
  }
}

.btn-banner {
  margin: 5px;
  border-radius: 5px;
  background-color: #b8d0eb;
  color: #6f2dbd;
  border: solid 2px #6f2dbd;
  &:hover {
    background-color: #6f2dbd;
    color: #b8d0eb;
    border: solid 2px #b8d0eb;
    transform: scale(1.1);
  }
}
