

.my-equipments-card {
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height:250px;
}

.my-equipments-title h1 {
    font-family: 'Nunito', sans-serif;
    color: #8400BD;
  }

.booking-equipment-card {
  position: relative;
  font-family: 'Nunito', sans-serif;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .row.no-gutters {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .col-4 {
    img {
      height: 80%;
      width: 100%;
      object-fit: cover;
    }
  }

  .card-title {
    color: #6f2dbd;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  .bottom-part {
    justify-content: space-between;
    border-top: solid 1px #b8d0eb;
    padding-top: 5px;
  }
  .card-price {
    font-weight: bold;
    color: #b298dc;
  }
}

.text-my-equip {
  color: #A8A8A8;
}

// Cards équipements - Home page

.card-index {
  background-color:white;
  height:200px;
  border-radius:4px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  position:relative;
  transition: transform .2s ease-in-out
}

.card-index:hover { transform: scale(1.05); }

.cards {
  flex-grow:1;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom:20px;
}

.card-index-user {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card-index-price {
  font-weight:bold;
  font-size:15px;
}

.flex-max-50 {
  flex: 0 0 55%;
}

.flex-max-40 {
  flex: 0 0 40%;
}
.flex-max-img {
  margin:20px auto;
}

// Cards détail équipement - Show équipement

.card-show-equipment {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  position: relative;

  .photo-equipment-show {
    height: 50%;
  }


  .header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    height: 10%
  }

  .owner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-category {
    margin-left: 20px;
    margin-top: 27px;
  }

  .details {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 35%;
  }

  .price-location {
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 5%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .price {
    font-size: 1.5rem;
  }

  .location {
    display: flex;
    height: 25px;
  }
  .full-address {
    height: 25px;
  }

}

.right-part {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items:center;
}

//Card - formulaire demande de réservation - Show Equipment

.form-booking {
  width: 100%;
  border-radius: 5px;
  height: 55%;
  margin-top: 20px;
}
// Cards - Mes réservations (owner)

.buttons-booking {
  padding-right: 10px;
  padding-bottom: 10px;
}

.card .booking-equipment-card {
  border-radius: 5px;
  width: 200px;
}
