// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "banner";
@import "footer";
@import "button";
@import 'delete';
@import "map";
@import 'form';

* {
  margin: 0;
  padding: 0;
}

body {
  h1 {
    font-family: 'Nunito', sans-serif;
    font-weight : 900;
    font-size: 60px;

    // color:#8400BD;
  }
  p, h3, h4 {
    font-family: 'Nunito', sans-serif;
  }
}

h2 {
    font-family: 'Nunito', sans-serif;
    color:#8400BD;
    font-weight: bold;

  }

h5 {
    font-family: 'Nunito', sans-serif;
    color:#8400BD;
    font-weight: bold;

  }

h4 {
  font-family: 'Nunito', sans-serif;
    color:#8400BD;
}

th {
    font-family: 'Nunito', sans-serif;
    color: black;
}

.btn {
  font-weight: bold;
}


.tableau {
  width: 400px;
  margin: 10px 50px;
}

.sous-titre-blanc {
  color: white;
  font-weight: bold;
}



