// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "banner";
@import "footer";
@import "button";
@import 'delete';
@import "map";
@import 'form';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;

  h1 {
    font-weight : 900;
    font-size: 60px;

    // color:#8400BD;
  }
}

h2 {
    font-family: 'Nunito', sans-serif;
    color:#8400BD;
    font-weight: bold;

  }

h5 {
    font-family: 'Nunito', sans-serif;
    color:#8400BD;
    font-weight: bold;

  }

a {
  color: black;
}

a:hover {
  color: gray;
  text-decoration: none;
}

th, td {
  font-family: 'Nunito', sans-serif;
  color: black;
}

tbody {
  font-weight: light;
}

h4 {
    font-family: 'Nunito', sans-serif;
    color:#8400BD;
}


th {
    font-family: 'Nunito', sans-serif;
    color: black;
}

.tableau {
  width: 400px;
  margin: 10px 50px;
}

.sous-titre-blanc {
  color: white;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}



